*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:#f5f5f5;
  color:#1d2b45;
}

/* HEADER */

.header{
  width:100%;
  height:90px;

  background:#ffffff;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:0 40px;

  border-bottom:1px solid #e5e5e5;
}

.logo-area{
  display:flex;
  align-items:center;
  gap:16px;
}



  .logo{
  width:110px;
  height:120px;

  object-fit:contain;
}

.topo span{
  font-size:20px;
  color:#555;
}

.topo h2{
  margin-top:5px;
  font-size:32px;
  color:#102542;
}

.logout-btn{
  border:none;

  background:#fff1f1;
  color:#ff3c3c;

  padding:14px 24px;

  border-radius:14px;

  font-size:18px;
  font-weight:600;

  cursor:pointer;
}

/* MENU */

.menu{
  width:100%;
  height:70px;

  background:#fff;

  display:flex;
  align-items:center;
  gap:20px;

  padding:0 20px;

  border-bottom:1px solid #e5e5e5;
}

.menu a{
  text-decoration:none;

  color:#1d2b45;

  font-size:20px;

  padding:12px 18px;

  border-radius:14px;

  transition:0.3s;
}

/* Hover */
.menu a:hover{
  background:#ece8ff;
  color:#4c44ff;
}

/* Página ativa */
.menu a.active{
  background:#ece8ff;
  color:#4c44ff;
}

.notification{
  width:20px;
  height:20px;

  border-radius:50%;

  background:#ff2f2f;
  color:white;

  display:flex;
  align-items:center;
  justify-content:center;

  font-size:11px;
  font-weight:bold;
}

/* CONTAINER */

.container{
  padding:24px;
}

/* CARD */

.card{
  width:100%;

  background:white;

  border-radius:20px;

  padding:34px;

  border:1px solid #e8e8e8;

  box-shadow:0 2px 5px rgba(0,0,0,0.03);
}

.card h1{
  font-size:48px;
  margin-bottom:40px;
  color:#102542;
}

/* GRID */

.grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:36px 80px;
}

.field{
  display:flex;
  flex-direction:column;
  gap:12px;
}

.field label{
  font-size:18px;
  color:#384860;
}

.field p{
  font-size:34px;
  color:#102542;
}

/* RESPONSIVO */

@media(max-width:900px){

  .header{
    padding:20px;
    height:auto;
    flex-direction:column;
    gap:20px;
    align-items:flex-start;
  }

  .menu{
    overflow-x:auto;
  }

  .grid{
    grid-template-columns:1fr;
  }

  .card h1{
    font-size:32px;
  }

  .field p{
    font-size:24px;
  }

}